<%   layout("boilerplate") %>

<h1>Shop Smart , Save Big!</h1>

<p>Starting point!!</p>

<p>SignUp</p>
<h3>Start your search here</h3>


<p>Our prices are best on the web</p>

<h3>Look for Smart items</h3>

<h3>These will apper across the site as you add in the cart</h3>

<h3>Buld a smart cart</h3>